@font-face {
  font-family: 'iconfont';
  src: url('/font/iconfont.eot?t=1597750104672');
  src: url('/font/iconfont.eot?t=1597750104672#iefix') format('embedded-opentype'),
    url('/font/iconfont.woff?t=1597750104672') format('woff'),
    url('/font/iconfont.ttf?t=1597750104672') format('truetype'),
    url('/font/iconfont.svg?t=1597750104672#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: '\e653';
}

.icon-enter:before {
  content: '\e608';
}

.icon-git:before {
  content: '\e64a';
}

.icon-search:before {
  content: '\e692';
}

.icon-link:before {
  content: '\e661';
}
